<div class="h-36 w-3/5 mb-7 flex flex-row bg-white m-auto rounded drop-shadow-lg">
  <div class="flex-initial flex w-32 rounded-full overflow-hidden">
    <img [src]="url" class="m-auto w-20"/>
  </div>
  <div class="flex-initial flex w-80 flex-col">
    <div class="flex-1 flex text-primary">
      <div class="mt-auto font-bold flex flex-row">
        <p class="mr-8">{{offre?.company}}</p>
         <div *ngIf="offre?.new" class="rounded-full bg-primary text-white mr-2"><p class="text-xs m-1 mr-2 ml-2">NEW!</p></div>
         <div *ngIf="offre?.featured" class="rounded-full bg-black text-white mr-2" ><p class="text-xs m-1 mr-2 ml-2">FEATURED</p></div>
      </div>
    </div>
    <div class="flex-1 flex"><p class="mt-auto mb-auto font-extrabold text-lg text-primary">{{offre?.position}}</p></div>
    <div class="flex-1 text-gray-400 flex w-60" >
      <span class="flex-1">{{offre?.postedAt}}</span><span class="flex-1">{{offre?.contract}}</span><span class="flex-1">{{offre?.location}}</span>
    </div>
  </div>
  <div class="flex-1">
    <span>{{offre?.role}}</span>
    <span>{{offre?.level}}</span>
    <span *ngFor="let attr of offre?.languages">{{attr}}</span>
  </div>
</div>
