<div class="h-36 w-3/5 mb-7 flex flex-row bg-white m-auto rounded drop-shadow-lg">
  <div class="flex-initial flex w-32 rounded-full overflow-hidden">
    <img [src]="url" class="m-auto w-20"/>
  </div>
  <div class="flex-initial flex w-80 flex-col">
    <div class="flex-1 flex text-primary">
      <p class="mt-auto font-bold">
        {{offre?.company}} <span *ngIf="offre?.new">NEW </span> <span *ngIf="offre?.featured">FEATURED</span>
      </p>
    </div>
    <div class="flex-1"><h2>{{offre?.position}}</h2></div>
    <div class="flex-1"><span>{{offre?.postedAt}}</span><span>{{offre?.contract}}</span><span>{{offre?.location}}</span></div>
  </div>
  <div class="flex-1">
    <span>{{offre?.role}}</span>
    <span>{{offre?.level}}</span>
    <span *ngFor="let attr of offre?.languages">{{attr}}</span>
  </div>
</div>
